/* Section Responsive */

@media all and (max-width:480px)
{
  img {
    width: 100%;
    /* border: solid 1px; */
    margin-left: auto;
    margin-right: auto;
  }

  body {
    /* border: solid 1px; */
    align-items: center;
    width: 100%;
    font-size: small;
    /* background-size: 100%; */
  }

  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

}
/* form {
  background-image: url(images/rainbow.jpg);
} */

body{
  background-image: url(images/rainbow.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* body {
  background-image: url(images/rainbow.jpg);
} */

main {
  font-size: 0.9em;
  font-family: Comic Sans MS, Comic Sans, cursive;
  line-height: 2.7;
  color: #111;
  width: auto;
  /* height: 100vh; */
  margin: 0;
}


.h2{
  display: flex;
  color: #c10230;
}

.form{
  color: #c10230;
  
}

.body{
  width:auto;
}
.center {
  text-align: center;
}

.menu{
  
}
.menu {
  display: inline-block;
  height: 50px;
  padding: 0 20px 0 20px;
  line-height: 50px;
  color: #111;
  font-size: 14px;
  font-weight: bold;